@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    border: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.invisible {
    position: absolute;
    transform: translateY(100px);
}

.visible {
    transition:  all .4s ease-in-out;
    transform: translateY(0);
}

.resultContainer {
    @apply text-5xl text-green-600 font-bold backdrop-blur-3xl p-10 rounded-lg;
}

#formQuestion {
    @apply w-full h-auto backdrop-blur-3xl flex flex-col justify-center items-center gap-10 p-10 rounded-lg;
}

#formQuestion h2 {
    @apply text-green-600 text-center font-bold text-2xl;
}

#formQuestion button {
    @apply w-auto h-auto py-5 text-center grid place-items-center rounded-lg bg-green-600 px-5 text-[#1B1B1B] font-bold cursor-pointer active:bg-transparent active:border-4 active:border-green-600 active:text-green-600;
}

form-question {
    @apply overflow-hidden;
}